<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VALENOIL
      <ion-icon name="logo-web-component"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> VALENOIL
        <ion-icon name="logo-web-component"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="loading" class="loading">
    <ion-spinner></ion-spinner>
  </ion-list>

  <ion-item>
    <ion-label>Provincia</ion-label>
    <ion-select placeholder="Seleccione Provincia" (ionChange)="selectProvinceChange()" [(ngModel)]="provinceIdSelect">
      <ion-select-option value="46">Valencia</ion-select-option>
      <ion-select-option value="03">Alicante</ion-select-option>
      <ion-select-option value="12">Castellon</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="response">

    <ion-list-header lines="full">
      <ion-label style="color: rgb(25, 133, 255); font-size: large; font-weight: 500;">Municipios</ion-label>
    </ion-list-header>

    <ion-searchbar showcancelbutton="" placeholder="Buscar..." (ionInput)="filterList($event)">
    </ion-searchbar>

    <ion-item-sliding #item *ngFor="let cc of loadedDataFilter || (response | async);">
      <ion-item (click)="goToMunicipio(cc)">
        <ion-label>{{ cc.Municipio }}</ion-label>
        <ion-label style="text-align: right;" *ngIf="isFavorite(cc)">
          <ion-icon name="star"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="!isFavorite(cc)" color="warning"
          (click)="addFavorite(cc, item)">Favoritos</ion-item-option>
        <ion-item-option *ngIf="isFavorite(cc)" color="danger"
          (click)="removeFavorite(cc, item)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>